<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net48" />
  <package id="FParsec" version="1.1.1" targetFramework="net48" />
  <package id="FSharp.Core" version="8.0.200" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="MathNet.Numerics.FSharp" version="5.0.0" targetFramework="net48" />
  <package id="MathParser.org-mXparser" version="5.2.1" targetFramework="net48" />
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net48" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.7" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.1.2" targetFramework="net48" />
  <package id="OxyPlot.WindowsForms" version="2.1.2" targetFramework="net48" />
  <package id="RogueSharp" version="5.0.0-pre4" targetFramework="net48" />
  <package id="RT.Dijkstra" version="1.0.16" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>